<div class="index">
	<div class="layer">
<header class="home-header">

	<h1 class="title"><span style="color: tomato">Student</span> Help Desk</h1>

</header>
<div></div>
<section class="main-section">
	<div class="left-section">
		<section class="inside-text">
			<p class="about"><span style="color: tomato">Student Help Desk</span>  is platform which helps students to
			  reach teachers in better way. This Platform helps you in meeting teachers through online and setting up a meet
			 in offline.  <br><br>"Are you started learning technologies ?.If yes, you need help from people who already there right.
			 This platform gives you assitance in meeting them..and makes your work simple."</p>
		</section>

	</div>
	<div></div>
 <div class="right-section">
	<div class="student-section">
		<h1 class="student-head" style="color:tomato">Student Corner</h1>
       <a  class="stu-sign" href="/home/student/sign_up">Sign Up</a>
      <p style="font-weight: bold;padding-bottom: 20px; padding-top: 20px; font-family: sans-serif; color:whitesmoke;">Already, have an account login here!</p>
      <a class="stu-sign" href="/home/student/login">Login</a>
    </div>

	<div class="teacher-section">
		<h1 class="student-head" style="color: tomato">Teacher Corner</h1>
		<a class="stu-sign"href="/home/teacher/sign_up">Sign Up</a><br>
		 <p style="font-weight: bold;padding-bottom: 20px; padding-top: 20px; font-family: sans-serif; color: whitesmoke">Already, have an account login here!</p>
		<a class="stu-sign" href="/home/teacher/login">Login</a>
	</div>
 </div>

</section>
<footer class="home-footer" >
<div class="contact">
<h4>Conatct Info</h4>
<p><i class="fas fa-envelope-square"></i>studenthelpdesk@gmail.com</p>
</div>
	<div class="social">

                    <div class="mess">Follow Us,Here!</div>

                    <div class="mi ">

                            <a class="facebook" href="#"><i class="fab fa-facebook "></i></a>

                            <a class="twitter" href="#"> <i class="fab fa-twitter "></i></a>

                         <a class="youtube" href=""><i class="fab fa-youtube-square "></i></a>

                            <a class="insta" href=""> <i class="fab fa-instagram "></i></a>

                    </div>
    </div>

</footer>
</div>

</div>
