
 <section class="right-profile">
 	<div class="post-group">
 	<form action="/home/post" method="POST">
 	<div>
 	<div><h1>Post It</h1></div>
 	<div class="form-group">
 		<label>Your Registration Number</label>
 		<input class="form-control" type="number" name="rgno">
 	</div>
 	<div class="form-group">
 		<label>teacher id Number</label>
 		<input class="form-control" type="number" name="teacherid">
 	</div>
 	<div class="form-group">
 		<label>Title</label>
 		<input type="text" class="form-control" name="title">
 	</div>
 	<div class="form-group">
 		<label>Body</label>
 		 <textarea class="form-control" id="exampleFormControlTextarea1" name="body" rows="3"></textarea>
 	</div>

 		<input type="submit" class="form-control" name="Submit">
 	</div>
 	
 </form>
</div>
 </section>
