 <section>
 	<form action="/home/teacher/login" onsubmit="return check2()" method="POST" class="form2">
 		<div><h1>Sign into SHD</h1></div>
 		<div class="form-group">
 		<label>University Id</label>
 		<input type="text" class="form-control" id="uid" name="Uid">
 		<small id="uidhelpblock" class="form-text text-muted">
</small>
 	   </div>
 	   <div class="form-group">
 		<label>Password</label>
 		<input type="password" class="form-control" id="password" name="password">
 		<small id="passwordHelpBlock" class="form-text text-muted">
</small>
 	</div>
 		<input type="submit" class="form-control" name="Submit">
 		<div class="mini-box">
 		<p> <span style="font-weight: 400"> New to SHD? </span><a href="/home/teacher/sign_up">  Create an accout</a></p>
 	</div>
 	</form>
 </section>

 <script type="text/javascript" src="/javascript/teachlogin.js"></script>
